{% extends 'base.html.twig' %}

{% block title %}Bewerk Uitlening{% endblock %}

{% block body %}
    <h1>Bewerk Uitlening</h1>

    {{ include('uitlening/_form.html.twig', {'form': form}) }}

    <a href="{{ path('app_uitlening_index') }}" class="btn btn-secondary">Terug</a>
{% endblock %}
