{% extends 'base.html.twig' %}

{% block title %}Bewerk Auteur{% endblock %}

{% block body %}
    <h1>Bewerk Auteur</h1>

    {{ include('auteur/_form.html.twig', {'form': form}) }}

    <a href="{{ path('app_auteur_index') }}" class="btn btn-secondary">Terug</a>
{% endblock %}
